{% extends "base.html" %}

{% block title %}Administrar Productos{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>Administrar Productos</h2>
    <a href="{{ url_for('main.nuevo_producto') }}" class="btn btn-primary mb-3">Agregar Nuevo Producto</a>
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <img src="{{ producto.img }}" alt="{{ producto.nombre }}" style="width: 60px; height: 60px; border-radius: 50%;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text">${{ producto.precio }}</p>
                    <a href="{{ url_for('main.editar_producto', id=producto.id) }}" class="btn btn-warning">Editar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
